.div-li {
  display: inline-grid;
}
.input-r {
  margin: 0.5em;
  margin-left: 0;
  padding: 1em;
  display: block;
  overflow: scroll;
}
.label-r {
  margin: 0.1em;
  padding: 0.5em;
  display: block;
}
.btn-add {
  background-color:#1E90FF ;
  color:white;
  font-weight: bold;
  width: 50%;
  padding: 1em;
  float: inline-end;
  margin: 1em;
}

